/*header*/


#header {
    font-family: 'Eater', cursive;
    font-size: 3vw;
    color:red;
    display:flex;
    justify-content: flex-end;
    height:5vw;
    background-color:lightgray;
    align-items: center;
    background-image: url("zombie.png");
    background-repeat: no-repeat;
    background-size:7vw;
    animation:backgroundChange 7s infinite;
    border:1px solid black;
    width:100%;
}

.tabs {
    padding-right:3vw;
    position:relative;
    text-shadow:3px 3px black;
}

.tabs:hover {
    color:black;
    text-shadow:4px 4px gray;
}




/* Main section*/

#bla {
    font-family: Eater;
   font-size:30px;
}

#main {
    text-align: center;
    font-family: Courier New;
    background-color: black;
    color: red;
    border:1px solid black;
    background-color:black;
}

#blurb {
    padding-bottom: 30px;
    width:70%;
    margin:0 auto;

}




/* Footer */

#footer {
    background: black;
    color: red;
    font-family: 'Eater', cursive;
    text-align: center;
    border: 1px solid red;
    font-size: 20px; 
    list-style-type:none;
}

ul {
    list-style-type: none;
  }



@keyframes backgroundChange {
    0% 100% {
        background-color:lightgray
    }
    50% {
        background-color: red;
    }